<div class="project-detail">
	<div class="list-tasks col-sm-4 col-md-4 col-lg-4">
		<h2>{{$ctrl.project.projectName}}</h2>
		<select ng-model="$ctrl.taskId" ng-options="task.taskId as task.taskName for task in $ctrl.project.tasks" multiple="true"></select>
		<button class="add-task">Add Task</button>
	</div>
	<div class="content-tasks col-sm-8 col-md-8 col-lg-8">
		<div class="box-header with-border">
			<h3 class="box-title">{{$ctrl.project.tasks[$ctrl.taskId].taskName}}</h3>
			<div class="task-description">{{$ctrl.project.tasks[$ctrl.taskId].description}}</div>
		</div>
		<div class="box-body direct-chat-primary">
			<div class="direct-chat-messages">
			    <div ng-repeat="message in $ctrl.project.tasks[$ctrl.taskId].discuss" class="direct-chat-msg">
				    <div class="direct-chat-info clearfix">
			            <span class="direct-chat-timestamp">{{message.userName}}</span>
			        </div>
				    <div class="direct-chat-text">{{message.text}}</div>
				</div>
			</div>
		</div>
		<div class="box-footer">
		    <form ng-submit="sendMessage()">
			    <div class="input-group">
			        <input type="text" ng-model="text" name="text" placeholder="Type Message ..." class="form-control"/>
			        <span class="input-group-btn">
				    	<input type="submit" class="btn btn-primary btn-flat" value="Send" />
			        </span>
			    </div>
			</form>
		</div>  
    </div>
</div>
